* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ebfaff;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(110,108,108,1) 100%);
  background-image: url(Website-Design-Background-1.jpg);
  background-size:cover;
  font-size: 16px;
  text-align: center;
}

a {
  cursor: pointer;
}

main {
  padding: 35px 16px;
  max-width: 512px;
  margin: 0 auto;
   
}

#identity img {
  border: 5px #fff solid;
  box-shadow: 0px 0px 10px #fff;
  border-radius: 50%;
  width: 290px;
  height: 290px;
}

#identity h1 {
  font-size: 1.5rem;
  color: #fff;
  margin: 16px 0px;
}

.shade {
  text-shadow: 0px 3px rgb(2, 0, 50);
  font-weight: bold;
}


h2 {
  font-size: 1.4rem;
  margin-bottom: 32px;  
}

h3 {
  font-size: 1.8rem;
  color: rgb(164, 162, 180);
}

ul {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

li {
  font-size: 1.125rem;
  display: inline;
  color:#cce7ff;
  margin-right: 16px;
}

 a img.git {
 background-color:#aa962a;
}

footer img {
  box-shadow: 0px 0px 7px #909090;
  border-radius: 50%;
  margin-right: 16px;

}

footer a:hover img {
  box-shadow: #efe9e9;
}

@media only screen  and (min-width:768px) {
   
   body{
      background-image:url(Website-Design-Background-2%20-%20Copy.jpg)
   }
   
   main {
     display: grid;
      grid-template-columns: 290px auto;
      grid-column-gap: 64px;
      max-width: 768px;
      margin: 50px auto 20px;
      align-items: center;
   }
  
   identity-image{
      margin: auto;
   }
}